<!-- signup.html -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
        <style>
            .firstDiv{
                border-bottom-width: 4px;
                inline-size: 226px ;
                border-bottom-style: solid;
                border-image: linear-gradient(to right,darkorchid,rgb(13, 229, 204)) 1;
                /*margin: 15px 32px;*/
                margin: 12px

            }

            .secoundDiv{
                border-width: 4px;
                border-style: solid;
                border-image: linear-gradient(to right,darkorchid,rgb(13, 229, 204)) 1;
                display: inline-block;
                background-color: white;
                
            }
            .left{
                float: left;
                width: 56%;
                height: 100%;
                /*background-color: lightblue;*/
            }

            .right{
                float: right;
                width: 44%;
                height: 100%;
                /*background-color: skyblue;*/
            }
            
        </style>
    <title>Create Acc</title>
  </head>
  <body>
    <div class="firstDiv">
    <h1>Create account</h1>
  </div>
  <br>
  <div style="margin: 12px;">
    <form action="/signup" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="name">Email:</label>
      <input type="text" id="email" name="email"><br><br>
      <label for="name">Password:</label>
      <input type="text" id="password" name="password"><br><br>
      <label for="name">Confirm Password:</label>
      <input type="text" id="confpassword" name="confpassword"><br><br>
      <br>
      
      <input class="secoundDiv" type="submit" value="Create">
      <a class="secoundDiv" style="padding:1px; margin-left: 30px;" href="http://localhost:4000/login">Login</a>
      <p><%=locals.message%></p>
    
    </div>
    </form>
    
  </body>
</html>