<!-- welcome.html -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
        <style>
            .firstDiv{
                border-bottom-width: 4px;
                inline-size: 276px ;
                border-bottom-style: solid;
                border-image: linear-gradient(to right,darkorchid,rgb(13, 229, 204)) 1;
                /*margin: 15px 32px;*/
                margin: 15px 32px

            }

            .secoundDiv{
                border-width: 4px;
                border-style: solid;
                border-image: linear-gradient(to right,darkorchid,rgb(13, 229, 204)) 1;
                display: inline-block;
                background-color: white;
                
            }
            .left{
                float: left;
                width: 56%;
                height: 100%;
                /*background-color: lightblue;*/
            }

            .right{
                float: right;
                width: 44%;
                height: 100%;
                /*background-color: skyblue;*/
            }
            
        </style>
    <title>Welcome</title>
  </head>
  <body>
    <!-- <h1>Welcome. Choose an option</h1> -->
    <div class="right">
      <img src="firstImage.png" style="width: 460px; height: 485px; opacity: 0.7; ">
      </div>
   
      <div class="left">
      <br><br><br>
      <div class="firstDiv">
      <p style="font-family: 'Lobster';  font-size: 50px;">Здравейте!</p>
  </div>

  <br>
  <p style="font-size: 25px; margin: 15px 32px; font-family: philosopher regular;">Готови ли сте да се потопите в света на спомените, мечтите и детството?</p>
 <br><br>
  <div class="secoundDiv"style="margin: 15px 32px; ">
  <!-- <button style="padding: 15px 70px;">Log In</button> -->
  <a href="login"><button style="padding: 15px 70px;">Log in</button></a>
  </div> 
  <div class="secoundDiv"style="margin:15px 32px">
      <!-- <button style="padding:15px 70px ;" >Sign Up</button> -->
      <a href="signup"><button style="padding: 15px 70px;">Sign up</button></a>
  </div>
</div>
    
    
</body>
</html>