<body>
    <button id="continue-btn">Continue</button>
    <button id="finish-btn">Finish</button>        
</body>

<script>
    const continueBtn = document.getElementById('continue-btn');
    const finishBtn = document.getElementById('finish-btn');
    
    continueBtn.addEventListener('click', () => {
        window.location.href = '/createalbum-p3';
    });
    
    finishBtn.addEventListener('click', () => {
        window.location.href = '/main';
    });</script>