<!DOCTYPE html>
<html>
  <head>
    <title>Create album</title>
    <style>
      input[type="file"], input[type="text"], button {
      display: block;
      margin: 0 auto;
    }
      #upload-button {
          background-color: rgb(82, 232, 82);
          padding: 3px;
          margin: 4px;
      }

      #upload-button.uploaded {
          background-color: rgb(186, 186, 186);
      }

      .firstDiv{
              margin-top: 150px;
              border-bottom-width: 6px;
              width: 500px;
              /* inline-size: 326px ; */
              border-bottom-style: solid;
              border-image: linear-gradient(to right,darkorchid,rgb(13, 229, 204)) 1;
              padding-bottom:10px ;
              margin-left: auto;
              margin-right: auto;
          }

          .secoundDiv{
              border-width: 6px;
              border-style: solid;
              border-image: linear-gradient(to right,darkorchid,rgb(13, 229, 204)) 1;
              display: inline-block;
              background-color: white;
              padding: 4px;
          }
</style>
  </head>
  <body>
    <p style="text-align: center;">3/3</p>
    <h1 class="firstDiv" style="text-align: center;">Добавяне на хора</h1>
    <br>
    <p style="text-align: center;">Моля, въведете име и добавете 3 снимки за този човек</p>
    <br>
    <input type="file" id="image-input-1" name="image-input-1" style="margin-bottom: 10px;" />
    <input type="file" id="image-input-2" name="image-input-2" style="margin-bottom: 10px;" />
    <input type="file" id="image-input-3" name="image-input-3" style="margin-bottom: 10px;" />
    <br><br>
    <div style="text-align: center;">
    <input style="margin-top:-10px; width: 200px; margin-bottom: 30px;" type="text" id="subtitle-input" placeholder="Subtitle" />

    <button id="submit-button"class="secoundDiv">Submit Form</button>
  </div>
    <script>
      const formData = new FormData();

      function handleImageUpload(inputId) {
        const input = document.getElementById(inputId);

        input.addEventListener("change", () => {
          const file = input.files[0];

          formData.delete(inputId);
          formData.append(inputId, file);
        });
      }

      handleImageUpload("image-input-1");
      handleImageUpload("image-input-2");
      handleImageUpload("image-input-3");

      document.getElementById("submit-button").addEventListener("click", () => {
        const subtitle = document.getElementById("subtitle-input").value;

        if (!formData.has("image-input-1") || !formData.has("image-input-2") || !formData.has("image-input-3")) {
            alert("Please upload all images.");
            return;
            }

        if (!subtitle) {
          alert("Please enter the name")
          return;
        }

        formData.append("subtitle", subtitle);

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/createalbum-p3");
        xhr.addEventListener("load", (event) => {
          // Handle the server response here and redirect the user to the next page.
          if (xhr.status === 200) {
            window.location.href = "/createalbum-p3-contOrNot";
          } else {
            alert("ERROR.");
          }
        });
        xhr.send(formData);
      });
    </script>
  </body>
</html>
