<!-- login.html -->
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  <style>
    body,
    html,
    .sidebyside {
      margin: 0;
      padding: 0;
      position: relative;
      display: flex;
      font-family: 'philosopher regular';
      height: 100%;
      width: 100%;
      overflow-y: hidden;
    }

    .textunderline {
      border-bottom-width: 6px;
      inline-size: 40%;
      border-bottom-style: solid;
      border-image: linear-gradient(to right, darkorchid, rgb(13, 207, 229)) 1;
      font-family: 'Lobster';
      font-size: 50px;
      padding-bottom: 30px;
      margin-bottom: 60px;
    }

    .regulartext {
      font-size: 33px;
    }

    .regularbutton {
      margin-top: 70px;
      border-width: 6px;
      border-style: solid;
      border-image: linear-gradient(-20deg, darkorchid, rgb(8, 186, 205)) 1;
      display: inline-block;
      background-color: transparent;
      padding: 0px 20px;
      font-size: 10px;
      width: 120px;
      height: 50px;
      font-size: 20px;
    }

    .left {
      padding-top: 150px;
      padding-left: 70px;
      padding-right: 50px;
      float: left;
      text-align: left;
      width: 60%;
      position: sticky;
      background-color: rgb(255, 255, 255);
      box-shadow: 5px 5px 50px #2a2a2a34;
      z-index: 50;
    }

    .right {
      min-width: 40%;
      object-fit: cover;
    }

    label {
      font-size: 22px;
      color: rgb(51, 51, 51);
    }

    input {
      margin-top: 10px;
      margin-bottom: 25px;
      width: 50%;
      height: 20px;
      border: none;
      border-bottom: 2px solid rgb(180, 180, 180);
    }

    input:focus{
      outline: none;
      border-bottom: 2px solid rgb(72, 72, 72);
      
    }

    .note {
      padding: 3px;
      margin-left: 30px;
      background-color: transparent;
      border: 0px;
      color: gray;
      text-decoration: none;
      font-size: 15px
    }
  </style>
  <title>Log in</title>
</head>

<body>
  <div class="sidebyside">
    <div class="left">
      <h1 class="textunderline">Log in</h1>
      <form action="/login" method="POST">
        <div>
          <label for="name">Email:</label><br>
          <input type="text" id="email" name="email"><br>
          <label for="name">Password:</label><br>
          <input type="text" id="password" name="password"><br>
            <input type="submit" value="Login"
              class="regularbutton">
          <a class="note" href="http://localhost:4000/signup">Signup</a>
          <p>
            <%=locals.message%>
          </p>
        </div>
      </form>

    </div>
    <img class="right"
      src="https://firebasestorage.googleapis.com/v0/b/phoco-c6bcd.appspot.com/o/_startimg.jpg?alt=media&token=a4ac476e-c5b5-48a1-b7e9-918a187904f6"
      alt="Starter image">
  </div>




</body>

</html>