<!-- welcome.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome. Choose an option</h1>
    <a href="signup"><button>Sign up</button></a>
    <a href="login"><button>Log in</button></a>
</body>
</html>